{% include 'dashboard_base.html' %}
{% load static %}

{% block css %}
<style>
.lead{
    color:red;
    font-weight: bold;
}
.value{
    color:green;
    font-weight: bold;
}
.custom{
    color:darkblue;
}
.chart-container{
    margin: auto;
}

</style>
{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" style="padding-top: 10px;" role="alert" id="message">
        {{ message }}
        <button type="button" class="close" style="padding-top: 10px;" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}

<div class="container">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between">
        <h1 class="h3 mb-0 text-gray-800 mt-4 mb-4">Disbursed Loans History</h1>

        <h5 class="mb-0 text-primary mt-4 mb-4"><strong>Total Amount:</strong> <strong><span class="text-danger">&#x20b9; {{total_disbursed_amount}}</span></strong></h5>
    </div>
</div>

    <div class="container mb-4">
        <form class="form-inline" method="POST" action="{% url 'loan_app:disbursed_loans_history' %}">
            {% csrf_token %}

            <div class="form-group mb-2">
              <label for="from_date">From</label>
              <input type="date" class="form-control ml-3" id="from_date" name="from_date">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="to_date">To</label>
              <input type="date" class="form-control ml-3" id="to_date" name="to_date">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </form>

    </div>

    <div class="container">
    <table class="table table-hover" id="myTable">
        <thead>
        <tr>
            <th scope="col">Sno</th>
            <th scope="col">Application ID</th>
            <th scope="col">Loan Type</th>
            <th scope="col">Loan Amount</th>
            <th scope="col">Disbursed Date</th>
            <th scope="col">Loan Duration</th>
            <th scope="col">Status</th>
            <th scope="col">Schedule</th>
        </tr>
        </thead>
        <tbody>
        {% for i in disbursed_loans %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.application_id}}</td>
            <td>{{i.loan_applied_for.loan_name}}</td>
            <td>{{i.expected_loan_amount}}</td>
            <td>{{i.disbursed_date}}</td>
            <td>{{i.expected_loan_tenure}}</td>
            <td style="color:rgba(15, 226, 43, 0.884);">Disbursed</td>
            <td><a href="{% url 'loan_app:loan_schedule_csv' i.id %}" class="btn btn-primary">Schedule</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}

{% block js %}
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}