{% extends 'dashboard_base.html' %}
{% load static %}

{% block body %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between">
        <h3 class="h3 mb-0 text-gray-800 mt-4 mb-4">Choose Loan ID</h3>
    </div>

    <div class="container mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="loan_id" style="color:red; font-weight:bold;">Select Loan ID</label>
                <select class="form-control" required name="selected_loan_id">
                    {% for i in schedule %}
                        <option value={{i.application_id}}>{{i.application_id}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
</div>


{% endblock %}