{% extends 'base.html' %}

{% block css %}

<style>
    html, body {
      height: 100%;
      margin: 0;
  }
  .wrapper {
      min-height: 100%; 
  }
  .main{
    width: 900px; /* Can be in percentage also. */
    height: auto;
    margin: 150px auto;
    padding: 10px;
    position: relative;
}
</style>

{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info mt-0 mb-0 alert-dismissible fade show" style="padding-top: 10px;" role="alert" id="message">
        {{ message }}
        <button type="button" class="close" style="padding-top: 10px;" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}


<div class="container wrapper">
<div class="card login-form main">
	<div class="card-body">
		<h3 class="card-title text-center">Change password</h3>
		
		<div class="card-text">
			<form method="POST">
                {% csrf_token %}

				<div class="form-group">
					<label for="exampleInputEmail1">Enter New Password</label>
					<input name="new_password1" type="password" class="form-control">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Confirm password</label>
					<input name="new_password2" type="password" class="form-control">
				</div>
				<input type="submit" class="btn btn-primary"></input>
			</form>
		</div>
	</div>
</div>
</div>
{% endblock %}